body {
    background-color: aqua;
}

.main-section {
    text-align:center;
}

.paragraph {
    color: white; /* single line comment */
    text-decoration: underline;
}

.test {
    background-color: red;
    font-family:cursive;
}

.first {
    background-color: green;
}

h3 {
    text-align: center;
    font-size: 40px;
}

table, th, td {
    width: auto;
    border: solid;
}
